<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/page.css"> 
</head>
<body>
    <h1>POLYMENR, SPB, DO, FR, SF</h1>
<hr>
  <h2>Departments</h2>
  <ul class="department-list">
    <% departments.forEach((department) => { %>
      <li>
        <a href="/department/<%= department.id %>" class="btn"> <%= department.name %> </a>
      </li>
  <% }); %>
</ul>
</body>
</html>